@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="comment-top">
	<h4>Yorumlar</h4>
	@if (Model.Count() == 0)
	{
		<h5>Henüz Yorum yok ilk yorum yapan sen ol</h5>
	}
	else
	{
		@foreach (var item in Model)
		{
			<div class="media">
				<img src="~/writerImageFile/anonymousUser.png" width="90" height="90" alt="" class="img-fluid" />
				<div class="media-body">
					<h5 class="mt-0">@item.CommentUserName</h5>
					<p>
						@item.CommentContext
					</p>
				</div>
			</div>
		}
	}
	 @*goto*@
</div>