
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yetkisiz Erişim</title>
    <link href="~/web/css/Custom.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div class="lock"></div>
    <div class="message">
        <h1>Yetki Sınırlarının Dışındasın</h1>
        <p>Lütfen Geri Dön <a href="/Blog/Index">Buraya</a> Tıklayarak Ana Sayfaya ulaşabilirsin.</p>
    </div>
    <div class="lock"></div>
</body>
</html>
