<div class="tech-btm widget_social">
	<h4>Sosyal Medya Bağlantıları</h4>
	<ul>

		<li>
			<a class="twitter" href="https://twitter.com/furk4nks">
				<span class="count">0</span> Twitter Takip	 <i class="fab fa-twitter"></i>
			</a>
		</li>
		<li>
			<a class="facebook" href="#">		
				<span class="count"></span> Facebook Takip	<i class="fab fa-facebook-f"></i>
			</a>
		</li>
		<li>
			<a class="github" href="https://github.com/furk4nk">
				<span class="count"></span> Github Profil <i class="fab fa-github"></i>
			</a>
		</li>
	</ul>
</div>