@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogUpdate";
	Layout = "~/Areas/WriterPanel/Views/Shared/_WriterLayout.cshtml";
}
<script src="~/web/js/jquery-2.2.3.min.js"></script>
<h1>Blog Güncelleme Sayfası</h1>
<form method="post" asp-action="BlogUpdate" asp-controller="Blog">
	@Html.HiddenFor(x=>x.BlogID)
	@Html.HiddenFor(x=>x.BlogCreateDate)
	<input type="text" asp-for="BlogStatus" id="BlogStatus" style="visibility:hidden"/>
	<div class="form-group">
		<label class="col-form-label">Blog Başlığı</label>
		<input type="text" placeholder="Blog Başlığı(Zorunlu)..." asp-for="BlogTitle" class="form-control" />
		<span class="text-danger" asp-validation-for="BlogTitle"></span>
	</div>
	<div class="form-group">
		<label class="col-form-label">Blog Görseli</label>
		<input type="text" placeholder="Blog Görseli(Opsiyonel)..." asp-for="BlogImage" class="form-control" />
	</div>
	<div class="form-group">
		<label class="col-form-label">Blog Küçük Görsel</label>
		<input type="text" placeholder="Blog Küçük Görsel(Opsiyonel)..." asp-for="BlogThumbNailImage" class="form-control" />
	</div>
	<div class="form-group">
		<label class="col-form-label">Blog Durumu</label>	
		<input type="text" placeholder="Blog Küçük Görsel(Opsiyonel)..." disabled="disabled" class="form-control" id="BlogDurum"/>
	</div>
	<div class="form-group">
		<label class="col-form-label">Blog Kategorisini Seçiniz</label>
		@Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.value,new {@class="form-control"})
		<span class="text-danger" asp-validation-for="CategoryID"></span>
	</div>
	<div class="form-group">
		<label class="col-form-label">Blog İçeriği</label>
		<textarea class="form-control" rows="10" cols="3" placeholder="içerik(zorunlu)" asp-for="BlogContext"></textarea>
		<span class="text-danger" asp-validation-for="BlogContext"></span>
	</div>
	<button class="btn btn-outline-primary">Kaydet ve Güncelle</button>
	<a href="/WriterPanel/Blog/BlogListByWriter" class="btn btn-outline-cancel">Vazgeç</a>
</form>
<script>
	$(document).ready(function(){
		var a = document.getElementById("BlogStatus");
		var target = document.getElementById("BlogDurum");
		if (a.value == "True") {
			target.value = "Aktif";
		}
		else {
			target.value = "Pasif";
		}		
	});
</script>