@model WriterUpdateViewModel

@{
    ViewData["Title"] = "UpdateWriter";
    Layout = "~/Areas/WriterPanel/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Güncelleme Ekranı</h4> <br/>
            <form class="forms-sample" method="post" asp-action="UpdateWriter" asp-controller="Writer" asp-area="WriterPanel">
                @Html.HiddenFor(x => x.ID)
                @Html.HiddenFor(x => x.UserName)
                <div class="form-group">
                    <label for="exampleInputName1">Ad &amp; Soyad</label>
                    <span class="text-danger" asp-validation-for="NameSurname"></span>
                    <input type="text" class="form-control" asp-for="NameSurname">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <input type="email" class="form-control" asp-for="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Şifre Değişikliği</label>
                    <a href="/WriterPanel/Writer/PasswordChange" class="btn btn-primary form-control">Şifre Değiştirmek İstiyorum</a>
                </div>
                <div class="form-group">
                    <label>Resim yükle</label><br />
                    <input type="file" class="file-upload-browse form-control" accept="images/*" data-buttonText="Resim Seç" asp-for="WriterImage" />
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yazar Hakkında</label>
                    <span class="text-danger" asp-validation-for="WriterAbout"></span>
                    <textarea class="form-control" rows="4" cols="10" asp-for="WriterAbout"></textarea>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>


