<div class="footer">
    <div class="float-right">
        <strong>Blogsar</strong>
    </div>
    <div>
        <strong>Copyright</strong> Telif Hakları Saklıdır &copy; 2022 - @DateTime.Now.Year
    </div>
</div>