@using EntityLayer.Concrete
@model List<About>
@foreach (var item in Model)
{
	<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
		<h3>Hakkımızda</h3>
		<p>@item.AboutDetails1.Substring(0,item.AboutDetails1.Substring(0,130).LastIndexOf(" "))...</p>
		<div class="read">
			<a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
		</div>
	</div>
}