@model BlogDemo.Models.UserRegisterViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	function typeToText(id) {
		var x = document.getElementById(id);
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
	function sweetAlert() {
		Swal(
			'Onaylandı!',
			'Hizhemtlerimize erişiminiz onaylanmıştır!',
			'success'
		)
	}
</script>


<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Register Now</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form method="post" asp-action="Index" asp-controller="Register">
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationCustom01">Adınız Soyadınız</label>
							<input type="text" class="form-control" id="validationDefault01" placeholder="" asp-for="WriterName"><br />
							<span asp-validation-for="WriterName" class="text-danger"></span>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Mail Adresi</label>
							<input type="text" class="form-control" id="validationDefault02" placeholder="" asp-for="WriterMail"><br />
							<span asp-validation-for="WriterMail" class="text-danger"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Şifreniz</label>
							<input type="password" class="form-control" id="password1" placeholder="" asp-for="WriterPassword">
							<input type="checkbox" onclick="typeToText('password1')">Şifreyi Göster<br />
							<span asp-validation-for="WriterPassword" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Şifre Tekrar</label>
							<input type="password" class="form-control" id="password2" placeholder="" asp-for="ConfirmPassword">
							<input type="checkbox" onclick="typeToText('password2')">Şifreyi Göster <br />
							<span asp-validation-for="ConfirmPassword" class="text-danger" id="control"></span>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>ülke Seçiniz</label>
							@Html.DropDownListFor(x=>x.CountryID,(List<SelectListItem>)ViewBag.v1,new{@class="form-control"})<br />
							<span asp-validation-for="CountryID" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label>il Seçiniz</label>
							@Html.DropDownListFor(x=>x.CityID,(List<SelectListItem>)ViewBag.v2,new{@class="form-control"})<br />
						</div>
					</div>
					<br />
					<div class="text-danger" asp-validation-summary="ModelOnly"></div> 					<br />
					<button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
					<p>
						<input type="checkbox" class="form-check-input" id="sweet" /><a href="#">Okudum Anladım kabul ediyorum</a>
					</p>
				</form>

			</div>
		</div>
	</div>
</section>

<script>
	$("#sweet").click(function () {
		x = document.getElementById("sweet");
		if (x.checked === true) {
			swal("Onaylandı", "Hizmet Şartları Kabul edildi", "success");
		}
		else {
			swal("Onay Kaldırıldı", "Hizmet Şartlarını Okuyunuz", "info");
		}
	});
</script>

