@using EntityLayer.Concrete
@model Writer
@{
    ViewData["Title"] = "UpdateWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>UpdateWriter</h1>
<form method="post" asp-action="Update" asp-controller="Write">
    <input type="text" asp-for="WriterName" />
</form>

