@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "UpdateWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Güncelleme Ekranı</h4> <br/>
            <form class="forms-sample" method="post" asp-action="WriterUpdate" asp-controller="Writer">
                <div class="form-group">
                    <label for="exampleInputName1">Ad &amp; Soyad</label>
                    <span class="text-danger" asp-validation-for="WriterName"></span>
                    <input type="text" class="form-control" name="WriterName" asp-for="WriterName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <span class="text-danger" asp-validation-for="WriterMail"></span>
                    <input type="email" class="form-control" name="WriterMail" asp-for="WriterMail">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Şifre Değişikliği</label>
                    <a href="/Writer/PasswordChange" class="btn btn-primary form-control">Şifre Değiştirmek İstiyorum</a>
                </div>
                <div class="form-group">
                    <label>Resim yükle</label><br />
                    <input type="file" name="WriterImage" class="file-upload-browse form-control" accept="images/*" data-buttonText="Resim Seç" asp-for="WriterImage" />
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yazar Hakkında</label>
                    <span class="text-danger" asp-validation-for="WriterAbout"></span>
                    <textarea class="form-control" name="WriterAbout" rows="4" cols="10" asp-for="WriterAbout"></textarea>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Ekle</button>
                <a href="/Blog/BlogListByWriter" class="btn btn-light">Vazgeç</a>
            </form>
        </div>
    </div>
</div>


